	@font-face {
	    font-family: 'Pretendard-Regular';
	    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	    font-weight: 400;
	    font-style: normal;
	}
	@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
	
	.bodyContainer{
		display: flex;
		justify-content: center;
		padding: 100px 0 150px 0;
	}
	.innerContainer{
		width: 400px;
	}
	
	.siteTitle{
		text-align: center;
		font-size: 50px;
		display: block;
		color: #323f11;
		margin-bottom: 40px;
		font-family: fugaz;
	}
	form{
		width: 400px;
	}
	.labels{
		display: block;
		font-weight: 800;
		/* margin-bottom: 7px; */
		font-family: 'SUIT-Regular';
		color: #323f11;
		font-size: 14px;
	}
	.inputs{
		width: 400px;
		height: 40px;
		padding-left: 3px;
		border: none;
		border-bottom: 1px solid #d7d7d7;
		/* border-radius: 5px; */
		font-family: 'SUIT-Regular';
		font-size: 14px;
	}
	.inputs::placeholder{
        font-family: 'SUIT-Regular';
		color: #cdcdcd;
	}
	.inputs:focus{
		border-bottom: 2px solid #323f11;
	}
	.emailInput{
		margin-bottom: 30px;
		height: 62px;	
	}
    .pwInput{
        height: 102px;
    }
	.bi-eye-slash, .bi-eye{
		cursor: pointer;
		position : absolute;
	    display: block;
		margin-left: 367px;
		margin-top: -32px;
		color: #323f11;
	}
	.msg{
		color: #f15746;
		font-weight: 800;
		font-size: 11px;
		font-family: 'SUIT-Regular';
		margin: 0;
	}
	.loginBtn{
		width: 400px;
		height: 50px;
		font-size: 14px;
		border: none;
		background-color: #84a331;
		color: white;
		border-radius: 5px;
		font-family: 'SUIT-Regular';
	}
	.loginBtn:disabled {
		background-color: #c6d1a8;
		color: white;
	}